*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

main {
  display: flex;
  flex-wrap: wrap;
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 5px;
}

.player-info img{
  max-width: 300px;
}

.player-info button {
  width: 200px;
  padding: 8px 3px;
}